<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <!-- <li>
          <a href='/index'>HOME</a>
        </li>
        <li>
          <a href='/savedGuitars'>Saved Guitars</a>
        </li>
        <li>
          <a href='/newGuitar'>Build Custom Guitar</a>
        </li> -->
      </ul>
    </nav>