<%- include('../partials/header') %>

<form id="new-guitar-form" action="/guitars" method="POST">
  <!-- <div class="form-group form-inline"> -->
    <label>Guitar Name</label>
      <input type="text" name="name" id="guitar-name">

    <!-- <label>Body Type</label> -->
      <!-- <select name="bodyType"> -->
        <!-- <option value='Dreadnought' selected="selected">Dreadnought</option> -->
        <!-- <option value='Grand Auditorium'>Grand Auditorium</option> -->
        <!-- <option value='Parlour'>Parlour</option> -->
        <!-- <option value='Classical'>Classical</option> -->
      <!-- </select> -->
    <label>Top Wood</label>
      <select name="topWood" id="select-topWood">
        <option value='Cedar' selected="selected">Cedar</option>
        <option value='Spruce'>Spruce</option>
        <option value='Mahogany'>Mahogany</option>
        <!-- <option value='Maple'>Maple</option> -->
      </select>
    <!-- <label>Side Wood</label>
      <select name="sideWood">
        <option value='Mahogany' selected="selected">Mahogany</option>
        <option value='Spruce'>Spruce</option>
        <option value='Cedar'>Cedar</option> -->
        <!-- <option value='Maple'>Maple</option> -->
        <!-- <option value='Maple'>Maple</option> -->
        <!-- <option value='Koa'>Koa</option> -->
        <!-- <option value='Rosewood'>Rosewood</option> -->
        <!-- <option value='Walnut'>Walnut</option> -->
      <!-- </select>
    <label>Back Wood</label>
      <select name="backWood">
        <option value='Mahogany' selected="selected">Mahogany</option>
        <option value='Spruce'>Spruce</option>
        <option value='Cedar'>Cedar</option> -->
        <!-- <option value='Maple'>Maple</option> -->
      <!-- </select> -->
    <label>Side/Back Wood</label>
      <select name="sideAndBackWood" id="select-sideAndBackWood">
        <option value='Mahogany' selected="selected">Mahogany</option>
        <option value='Spruce'>Spruce</option>
        <option value='Cedar'>Cedar</option>
      </select>

    <label>Neck Wood</label>
      <select name="neckWood" id="select-neckWood">
        <option value="Rosewood" selected="selected">Rosewood</option>
        <option value="Magohany">Mahogany</option>
        <option value="Maple">Maple</option>
        <!-- <option value="Cedar">Cedar</option> -->
        <!-- <option value="Ebony">Ebony</option> -->
        <!-- <option value="Walnut">Walnut</option> -->
      </select>
    <label>Position Markers</label>
      <select name="positionMarkers" id="select-positionMarkers">
        <option value="Yes" selected="selected">Yes</option>
        <option value="No">No</option>
      </select>
    
   <input type="submit" id="create-guitar" value="Create Guitar">
  <iframe id="dynamic-guitar-model" src="https://www.vectary.com/viewer/v1/?model=4828f596-7638-40c0-a6b3-c556c878288e&env=studio3" frameborder="0" width="100%" height="480"></iframe>
<!-- </div> -->

  <script>
    // create var for each input choice & use values for if statements
    let topWoodChoice = $('#select-topWood');
    let sideAndBackWoodChoice = $('#select-sideAndBackWood');
    let neckWoodChoice = $('#select-neckWood');
    let positionMarkersChoice = $('#select-positionMarkers')

      topWoodChoice.on('change', function() {
      if (this.value === 'Cedar') {
        $('#dynamic-guitar-model').attr('src','https://www.vectary.com/viewer/v1/?model=0111765d-17d6-4bde-bcb6-7129ff9622c5&env=studio3');
      } else if (this.value === 'Spruce') {
        $('#dynamic-guitar-model').attr('src', 'https://www.vectary.com/viewer/v1/?model=34aafcda-cdf8-4906-a581-1d282f0cc047&env=studio3');
      } else if (this.value === 'Mahogany') {
        $('#dynamic-guitar-model').attr('src', 'https://www.vectary.com/viewer/v1/?model=03378de1-ad4b-4f12-b66e-063c3d9cc7b0&env=studio3');
      }
    });
  </script>

</form>
  
<%- include('../partials/footer') %>