<%- include('../partials/header') %>

<form id="new-guitar-form" action="/guitars" method="POST">
  <label>Guitar Name</label>
    <input type="text" name="name" id="guitar-name">

  <label>Body Type</label>
    <select name="bodyType">
      <option value='Dreadnought' selected="selected">Dreadnought</option>
      <option value='Auditorium'>Auditorium</option>
      <option value='Parlour'>Parlour</option>
      <option value='Classical'>Classical</option>
    </select>
  <label>Top Wood</label>
    <select name="topWood" id="select-topWood">
      <option value='Cedar' selected="selected">Cedar</option>
      <option value='Spruce'>Spruce</option>
      <option value='Mahogany'>Mahogany</option>
      <!-- <option value='Maple'>Maple</option> -->
    </select>
  <label>Side Wood</label>
    <select name="sideWood">
      <option value='Mahogany' selected="selected">Mahogany</option>
      <option value='Spruce'>Spruce</option>
      <option value='Cedar'>Cedar</option>
      <!-- <option value='Maple'>Maple</option> -->
      <!-- <option value='Maple'>Maple</option> -->
      <!-- <option value='Koa'>Koa</option> -->
      <!-- <option value='Rosewood'>Rosewood</option> -->
      <!-- <option value='Walnut'>Walnut</option> -->
    </select>
  <label>Back Wood</label>
    <select name="backWood">
      <option value='Mahogany' selected="selected">Mahogany</option>
      <option value='Spruce'>Spruce</option>
      <option value='Cedar'>Cedar</option>
      <!-- <option value='Maple'>Maple</option> -->
    </select>

  <label>Neck Wood</label>
    <select name="neckWood">
      <option value="Rosewood" selected="selected">Rosewood</option>
      <option value="Magohany">Mahogany</option>
      <option value="Maple">Maple</option>
      <!-- <option value="Cedar">Cedar</option> -->
      <!-- <option value="Ebony">Ebony</option> -->
      <!-- <option value="Walnut">Walnut</option> -->
    </select>
  <label>Position Markers</label>
    <select name="positionMarkers">
      <option value="Yes" selected="selected">Yes</option>
      <option value="No">No</option>
    </select>
    
   <input type="submit" value="Create Guitar">

   <br/>
   <br/>
   <br/>

  <iframe id="dynamic-guitar-model" src="https://www.vectary.com/viewer/v1/?model=4828f596-7638-40c0-a6b3-c556c878288e&env=studio3" frameborder="0" width="100%" height="480"></iframe>
  <script>
      $('#select-topWood').on('change', function() {
      if (this.value === 'Cedar') {
        $('#dynamic-guitar-model').attr('src','https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fa5%2F04%2Fbf%2Fa504bf1f932c4a96d1a4bd938eaf13fa.jpg&f=1&nofb=1');
      } else if (this.value === 'Spruce') {
        $('#dynamic-guitar-model').attr('src', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.pX-zDDNzwaNH_1Z6ZODaVgHaHa%26pid%3DApi&f=1');
      } else if (this.value === 'Mahogany') {
        $('#dynamic-guitar-model').attr('src', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.ZMoyFL5XO3o3-I-jupUorgHaLk%26pid%3DApi&f=1');
      } else if (this.value === 'Maple') {
        $('#dynamic-guitar-model').attr('src', 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.l8H2lpygmfXvL8Lx2MW1gQHaLx%26pid%3DApi&f=1');
      }
    });
  </script>

</form>
  
<%- include('../partials/footer') %>