<%- include('../partials/header') %> 

  <% if (user) { %>
      <form id="edit-comment-form" action="/comments/<%= comment.id %>?_method=PUT" method="POST">
        <label>Comment:</label>
          <textarea name="content" class="comment-bubble"><%= comment.content %></textarea>
        <input id="edit-comment-button" type="submit" value="Edit Comment">
      </form>
    <% } %>

<%- include('../partials/footer') %> 