<%- include('./partials/header') %>

  <h1><%= title %></h1>
  <p>Landing Page for CRUD App</p>

  <!-- <iframe id="961fb17e-9ee6-45f9-87c2-d6f4d4c70adb" src="https://www.vectary.com/viewer/v1/?model=961fb17e-9ee6-45f9-87c2-d6f4d4c70adb&env=studio3" frameborder="0" width="100%" height="480"></iframe>   -->
<%- include('./partials/footer') %>