* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://i.imgur.com/Cf2lD8v.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  margin: 0 auto;
  height: 100vh;
  grid-template-rows: 50px 1fr;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFF0;
}

a {
  color: #FFFFF0;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #e7c9a9;
  background-color: #FFFFF0;
  border-radius: 25px;
}

a:active {
  color: slategray;
}

nav a:first-child {
  object-fit: contain;
  margin-right: auto;
}

nav a:first-child:hover {
  background-color: transparent;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#greeting {
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 20px;
}

#index-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7c9a9;
  font-size: 25px;
  background-color: #FFFFF0;
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
  border: dotted 4px #e7c9a9;
}

#g {
  margin: 0px -5px 0 20px;
}

#all-guitars, #new-guitar-form, #user-guitars {
  display: grid;
  grid-gap: 10px;
  margin: 0 15%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #FFFFF0;
  border-radius: 25px;
}

#guitar-index-title {
  text-align: center;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  width: 10px;
  color: black;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

.user-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image img {
  border-radius: 50%;
  height: 40px;
  padding-right: 10px;
}

#new-guitar-form > input, #new-guitar-form > select {
  padding: 5px;
  margin: 0 30%;
  border-radius: 25px;
}

#create-guitar {
  margin: 0 35%;
  font-size: 20px;
  color: #FFFFF0;
  background-color: #e7c9a9;
  border: 1px solid #FFFFF0;
  border-radius: 25px;
}

#create-guitar:hover {
  cursor: pointer;
  color: #e7c9a9;
  background-color: #FFFFF0;
  border: 1px solid #e7c9a9;
}

#guitar-name-label {
  padding-top: 10px;
}

.guitar-details-button {
  font-size: 20px;
  color: #FFFFF0;
  background-color: #e7c9a9;
  border: 1px solid #FFFFF0;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

button {
  font-size: 20px;
  color: #FFFFF0;
  background-color: #e89292;
  border: 1px solid #FFFFF0;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

button:hover {
  cursor: pointer;
  color: #e89292;
  background-color: #FFFFF0;
  border: 1px solid #e89292;
}

#footer-logo {
  display: flex;
  justify-content: center;
}

#footer-logo:hover {
  background-color: transparent;
}