body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  grid-area: nav;
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#new-guitar-form {
  display: grid;
  grid-gap: 10px;
  float: right;
}

